.app-container {
  display: flex;
}

.search-section {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.results-section {
  flex: 3;
  padding: 20px;
}

.vacancy-form {
  margin-bottom: 20px;
}

.vacancy-form div {
  margin-bottom: 10px;
}

.vacancy-list {
  display: flex;
  flex-direction: column;
}

.vacancy-item {
  margin-bottom: 10px;
}

.vacancy-item h3 {
  margin: 0;
}

button{
  padding: 10px;
  margin: 5px;
  height: 38px;
  background-color: #E6E6E6;
  border: none;
  border-radius: 8px;
}

button:hover{
  padding: 10px;
  margin: 5px;
  background-color: #E6E6E6;
  cursor: pointer;
  outline: 1px solid;
  border-color: #363636;

}

.inputs{
  border: none;
  background-color: #E6E6E6;
  border-radius: 8px;
  height: 38px;
  width: 120px;
  margin: 5px;
}